<header>
    <h1>MyRepoStats</h1>
</header>
<h2>When are commits typically made during the day?</h2>
<h3>Morning: {{#if partOfDayPercentageOfCommits.Morning}}{{partOfDayPercentageOfCommits.Morning}}{{else}}0{{/if}}%</h3>
<h3>Afternoon: {{#if partOfDayPercentageOfCommits.Afternoon}}{{partOfDayPercentageOfCommits.Afternoon}}{{else}}0{{/if}}%</h3>
<h3>Evening: {{#if partOfDayPercentageOfCommits.Evening}}{{partOfDayPercentageOfCommits.Evening}}{{else}}0{{/if}}%</h3>
<h3>Night: {{#if partOfDayPercentageOfCommits.Night}}{{partOfDayPercentageOfCommits.Night}}{{else}}0{{/if}}%</h3>
